<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserManagement</title>
    <link rel="stylesheet" href="/static/updateUsers.css" />
  </head>
  <body>
    <form action="" method="post">
      <h2>UpdateUserDetails</h2>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        required
        name="name"
        value="{{datas.NAME}}"
      />

      <label for="Age">Age</label>
      <input
        type="text"
        id="Age"
        required
        name="age"
        value="{{datas.AGE}}"
        autocomplete="off"
      />

      <label for="city">City</label>
      <input
        type="text"
        id="city"
        required
        name="city"
        value="{{datas.CITY}}"
        autocomplete="off"
      />
      <div class="save">
        <input type="submit" value="UpdateDetails" name="save" />
      </div>
    </form>
  </body>
</html>
